.movie-card {
  width: 10em;
  height: auto;
  margin-top: 1em;
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.card-text {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.container {
  display: inline-block;
  position: relative;
}

.container .btn {
  position: absolute;
  bottom: 90%;
  left: 70%;
}
